.formModal {
    display: flex;
    width: 100%;
    height: 40vh;
    max-width: 500px; /* Definir a largura máxima do formulário */
  }
  
  .formModal form {
      width: 100%;
      display: flex;
      flex-direction: column;
  }
  
  .formModal label {
    display: block;
    margin-bottom: 8px;
  }
  
  .formModal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .horario_control{
    width: 100%;
    display: flex;

    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  .horario_control input{
    width: 30%;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 6px;

  }

  .horario_Legend{
    color: rgba(0, 0, 0, 0.45);
    font-size: 16px;
    font-weight: 400;
    padding: 0; 
    margin-bottom: 10px;
  }
  .horario_Legend span{
    border-bottom: 1px solid #d9d9d9;
  }
  