.header_container {
  width: 100%;
  height: 100px;
  display: flex;
  display: flex;
  align-items: center;

  background: rgba(205, 205, 205, 0.27);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header_container nav {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.header_container img {
  width: 200px;
  height: 95px;

  margin-left: 20px;
  padding-bottom: 7px;
}
.header_container nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  
  margin-top: 25px;
  list-style-type: none;
}
.header_container nav ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #000;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.header_container nav ul li a:hover {
  opacity: 1;
}
.header_container nav button {
  cursor: pointer;
  width: 150px;
  height: 40px;

  margin-right: 12rem;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  opacity: 1;
  border: none;
  border-radius: 5px;
}
#mobile i{
  color: ;
}
/* menu responsivo */
