.container_Login {
  width: 100%;
  display: flex;
  align-items: center;
}

.login_left {
  width: 47%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.jogador {
  width: 90%;
  height: 95vh;
  object-fit: cover;
}


/* Formulário */
.wrapper_form {
  width: 70%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_form {
  width: 100%;
  text-align: center;
}
.header_form h1 {
  margin-top: 70px;
}
.header_form h2 {
  margin-bottom: 50px;
}
.logoLogin {
  width: 250px;
  height: 130px;
  margin: 56px 0 69px 0;
}
.form_control {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 80%;
  max-width: 500px;
  height: 50%;
  border-radius: 4px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.container-form {
  border: 2px solid blue;
}

.wrapper_form form .btn_entrar{
  width: 130px;
  height: 29px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #04C35C;
  color: #FFFFFF;
  font-family: Roboto;
  opacity: 1;
  transition: .3s;
  border: none;
  border-radius: 8px;
}
.btn_entrar:hover{
  background-color: #04C35C;
  opacity: 0.8;
  color: #FFFFFF;
  font-family: Roboto;
  border: none;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}
